*{
    padding: 0;
    margin: 0;
    font-size: 30px;
    color:white;
}

.titre{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.carres-ecran-animation {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(10, 10vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #FFFFFF;

}

#carre1 {  grid-area: 1 / 1 / 2 / 2;}
#carre2 { grid-area: 1 / 2 / 2 / 3;}
#carre3 { grid-area: 1 / 3 / 2 / 4;}
#carre4 { grid-area: 1 / 4 / 2 / 5;}
#carre5 { grid-area: 1 / 5 / 2 / 6;}
#carre6 { grid-area: 2 / 1 / 3 / 2;}
#carre7 { grid-area: 2 / 2 / 3 / 3;}
#carre9 { grid-area: 2 / 4 / 3 / 5;}
#carre8 { grid-area: 2 / 3 / 3 / 4;}
#carre10 { grid-area: 2 / 5 / 3 / 6;}
#carre11 { grid-area: 3 / 1 / 4 / 2;}
#carre12 { grid-area: 3 / 2 / 4 / 3;}
#carre13 { grid-area: 3 / 3 / 4 / 4;}
#carre14 { grid-area: 3 / 4 / 4 / 5;}
#carre15 { grid-area: 3 / 5 / 4 / 6;}
#carre16 { grid-area: 4 / 1 / 5 / 2;}
#carre17 { grid-area: 4 / 2 / 5 / 3;}
#carre18 { grid-area: 4 / 3 / 5 / 4;}
#carre19 { grid-area: 4 / 4 / 5 / 5;}
#carre20 { grid-area: 4 / 5 / 5 / 6;}
#carre21 { grid-area: 5 / 1 / 6 / 2;}
#carre22 { grid-area: 5 / 2 / 6 / 3;}
#carre23 { grid-area: 5 / 3 / 6 / 4;}
#carre24 { grid-area: 5 / 4 / 6 / 5;}
#carre25 { grid-area: 5 / 5 / 6 / 6;}
#carre26 { grid-area: 6 / 1 / 7 / 2;}
#carre27 { grid-area: 6 / 2 / 7 / 3;}
#carre28 { grid-area: 6 / 3 / 7 / 4;}
#carre29 { grid-area: 6 / 4 / 7 / 5;}
#carre30 { grid-area: 6 / 5 / 7 / 6;}
#carre31 { grid-area: 7 / 1 / 8 / 2;}
#carre32 { grid-area: 7 / 2 / 8 / 3;}
#carre33 { grid-area: 7 / 3 / 8 / 4;}
#carre34 { grid-area: 7 / 4 / 8 / 5;}
#carre35 { grid-area: 7 / 5 / 8 / 6;}
#carre36 { grid-area: 8 / 1 / 9 / 2;}
#carre37 { grid-area: 8 / 2 / 9 / 3;}
#carre38 { grid-area: 8 / 3 / 9 / 4;}
#carre39 { grid-area: 8 / 4 / 9 / 5;}
#carre40 { grid-area: 8 / 5 / 9 / 6;}
#carre41 { grid-area: 9 / 1 / 10 / 2;}
#carre42 { grid-area: 9 / 2 / 10 / 3;}
#carre43 { grid-area: 9 / 3 / 10 / 4; display: none;}
#carre44 { grid-area: 9 / 4 / 10 / 5;}
#carre45 { grid-area: 9 / 5 / 10 / 6;}
#carre46 { grid-area: 10 / 1 / 11 / 2;}
#carre47 { grid-area: 10 / 2 / 11 / 3;}
#carre48 { grid-area: 10 / 3 / 11 / 4;}
#carre49 { grid-area: 10 / 4 / 11 / 5;}
#carre50 { grid-area: 10 / 5 / 11 / 6;}


